main{
    width: 90%;
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    flex-wrap: wrap;
    border: 1px solid white;
    margin: auto;
    margin-top: 1rem;
    row-gap: 50px;
    overflow-y: auto;
}

main h1{
    color: white;
}